nav{
  background-color: #4056A1;
  color: #FFFFFF;
  height: 120px;
  width: 100%;
  padding-left: 1.5em;
  padding-right: 1.5em;
  position: fixed;

  display:flex;
  justify-content: space-between;
  align-items: center;
}

#tweeter-logo {
  font-family: 'Bungee', cursive; 
}

nav div {
  display: flex;
  flex-flow: column;
  align-items: center;
}

nav i {
  color: red;
}