nav{
  background-color: #4056A1;
  color: #FFFFFF;
  height: 120px;
  width: 100%;
  padding-left: 1.5em;
  padding-right: 1.5em;
  position: fixed;
  top: 0;

  display:flex;
  justify-content: space-between;
  align-items: flex-end;
}

nav button {
  border: 0;
  background-color: inherit;
  color: inherit;
}

nav button:hover {
  color: #daa520;
}

#tweeter-logo {
  font-family: 'Bungee', cursive;
  padding-bottom: 0.5em;
  font-size: 32px;
}

nav form {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-bottom: 0.5em;
}

nav i {
  color: red;
}